/* Colors Variables */
$black-color: #000;
$black-color-light: #333;
$white-color: #fff;
$grey-color: #eee;
$grey-color-deep: #aaa;

/* Margins */
$margin-large: 80px;
$margin-medium: 40px;
$margin-small: 24px;
$margin-extra-small: 16px;
